.panel.slim.panel-default
  .panel-heading
    %h3
      Mein Account
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    %table.table.table-striped
      %tr.form-group
        %td= f.label :email, class: "control-label"
        %td= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      %tr.form-group
        %td= f.label :current_password, "Altes Passwort", class: "control-label"
        %td= f.password_field :current_password, autocomplete: "new-password", class: "form-control"
      %tr.form-group
        %td
          = f.label :password, "Neues Passwort", class: "control-label"
          - if @minimum_password_length
            %br
              %em (min. #{@minimum_password_length} Zeichen)
        %td= f.password_field :password, autocomplete: "new-password", class: "form-control"
      %tr.form-group
        %td= f.label :password_confirmation, class: "control-label"
        %td= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      %tr
        %td
        %td
        
          = f.submit "Änderungen speichern", class: "btn btn-success"
          = link_to registration_path(resource_name), method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "button btn btn-danger" do
            =material_icon.delete
            Konto Löschen
          = link_to :back, class: "button btn btn-default" do
            =material_icon.arrow_back 
            Zurück
